html{
	width:100%;
	height:100%;
}

body{
	overflow:hidden;
	background-color:  #738038;
	background-image: url("../img/grass_bg4.jpg");
	background-size:100%;
	background-position: bottom center;
	background-repeat: no-repeat;
	width:100%;
	height:100%;
}

.bg{

	width:100%;
	height:100%;
	z-index: 50;
	background-position: top center;
	background-repeat: no-repeat;
	display:none;
	position: absolute;

}

#bg1{

	background-image: url("../img/stad-1_bg.png");

}


#bg2{

	background-image: url("../img/stad-1_bg2.png");

}

#bg3{

	background-image: url("../img/stad-1_bg3.png");

}


/* GAME STAGE */

#game_container{
	width:100%;
	height:100%;
	/*position: relative;*/
	-webkit-box-sizing: border-box; 
  	-moz-box-sizing: border-box;    
  	box-sizing: border-box; 
  	position: absolute;
  	z-index: 500;
  	display:none;
}

#game_stage{

	/*background-color: #c9eefd;*/
	width:100%;
	-webkit-box-sizing: border-box; 
  	-moz-box-sizing: border-box;    
  	box-sizing: border-box;

}

#game_skin{
	width:100%;
	height:100%;
	position: absolute;
	z-index: 250;

	header{

		width:100%;
		position: absolute;
		top:0px;
		left: 0px;
		background-color: rgba(0,0,0,0.75);
		color:#fff;
		font-size: 1.5rem;
		padding:5px;
		text-align: center;

		.total{
			display:none;
		}

	}

	footer{
		width:100%;
		position: absolute;
		bottom:0px;
		left: 0px;
		background-color: rgba(0,0,0,0.75);
		color:#fff;
		font-size: 1.5rem;
		padding:5px;
	}

}

#result_container{
	width:100%;
	height:100%;
	position: absolute;
	z-index: 500;
	display:none;
	/*background-color: rgba(0,0,0,0.7);*/
	text-align: center;

	h2{
		color:white;
		font-size: 5rem;
		margin-top:30%;
		display: inline-block;
		padding:50px 50px 40px 50px;
		background-color: rgba(0,0,0,0.7);
	}
}

#action_layer{

	width:100%;
	height:100%;
	position: absolute;
	z-index: 1000;
	display:none;

}

#endLevel{
	width:100%;
	height:100%;
	position: absolute;
	z-index: 2000;
	display:none;
	background-color: rgba(0,0,0,0.75);
	text-align: center;
	color:#fff;
	padding:10px;

	h2{
		color:white;
		font-size: 3rem;
	}

	p{
		font-size: 1.6rem;
	}

}

#stage1{
	display:block;
	width:100%;
	height:100%;
	background-color: #000;
	text-align: center;
	padding:10px;
	-webkit-box-sizing: border-box; 
  	-moz-box-sizing: border-box;    
  	box-sizing: border-box;
  	color:white;


}

.btn{
	width:100%;
	height:50px;
	display: inline-block;
	color:black;
}

