html{
	width:100%;
	height:100%;
}

body{
	overflow:hidden;
	background:url("../img/stad_bg.jpg") no-repeat top center #5f732c;

	background-image: url("../img/stad_bg.jpg"), url("../img/grass_bg.png");
	background-position: top center, bottom center;
	background-repeat: no-repeat;
	width:100%;
	height:100%;
}

/* GAME STAGE */

#game_container{
	width:100%;
	height:100%;
	/*position: relative;*/
	-webkit-box-sizing: border-box; 
  	-moz-box-sizing: border-box;    
  	box-sizing: border-box; 
  	position: absolute;
  	z-index: 500;
}

#game_stage{

	/*background-color: #c9eefd;*/
	width:100%;
	-webkit-box-sizing: border-box; 
  	-moz-box-sizing: border-box;    
  	box-sizing: border-box;

}

#action_layer{

	width:100%;
	height:100%;
	position: absolute;
	z-index: 1000;

}